In [1]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# # Clear all DataFrames by setting them to None
# # amazon_sale_report_df = None
# cloud_warehouse_comparison_chart_df = None
# expense_iigf_df = None
# international_sale_report_df = None
# may_2022_df = None
# pl_march_2021_df = None
# sale_report_df = None

In [9]:
import pandas as pd

# Specify the data types for columns in Amazon Sale Report
dtype_spec = {
    'Order ID': 'str',
    'Date': 'str',
    'Status': 'str',
    'Fulfilment': 'str',
    'Sales Channel': 'str',
    'ship-service-level': 'str',
    'Style': 'str',
    'SKU': 'str',
    'Category': 'str',
    'Size': 'str',
    'ASIN': 'str',
    'Courier Status': 'str',
    'Qty': 'float',
    'currency': 'str',
    'Amount': 'float',
    'ship-city': 'str',
    'ship-state': 'str',
    'ship-postal-code': 'str',
    'ship-country': 'str',
    'promotion-ids': 'str',
    'B2B': 'bool',
    'fulfilled-by': 'str'
}

# Reload the CSV files into DataFrames with specified data types

amazon_sale_report_df = pd.read_csv('amazon_sale_report.csv', dtype=dtype_spec, low_memory=False)
cloud_warehouse_comparison_chart_df = pd.read_csv('cloud_warehouse_comparison_chart.csv')
expense_iigf_df = pd.read_csv('expense_iigf.csv')
international_sale_report_df = pd.read_csv('international_sale_report.csv')
may_2022_df = pd.read_csv('may_2022.csv')
pl_march_2021_df = pd.read_csv('pl_march_2021.csv')
sale_report_df = pd.read_csv('sale_report.csv')

Data Cleaning

In [11]:
amazon_sale_report_df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [12]:
print(amazon_sale_report_df.isnull().sum())

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [14]:
# Handle missing values
amazon_sale_report_df['Courier Status'] = amazon_sale_report_df['Courier Status'].fillna('unknown')
amazon_sale_report_df['currency'] = amazon_sale_report_df['currency'].fillna('unknown')
amazon_sale_report_df['Amount'] = amazon_sale_report_df['Amount'].fillna(0)
amazon_sale_report_df['ship-city'] = amazon_sale_report_df['ship-city'].fillna('unknown')
amazon_sale_report_df['ship-state'] = amazon_sale_report_df['ship-state'].fillna('unknown')
amazon_sale_report_df['ship-postal-code'] = amazon_sale_report_df['ship-postal-code'].fillna('unknown')
amazon_sale_report_df['ship-country'] = amazon_sale_report_df['ship-country'].fillna('unknown')
amazon_sale_report_df['promotion-ids'] = amazon_sale_report_df['promotion-ids'].fillna('none')
amazon_sale_report_df['fulfilled-by'] = amazon_sale_report_df['fulfilled-by'].fillna('unknown')

In [15]:
amazon_sale_report_df.drop_duplicates(inplace=True)

In [16]:
amazon_sale_report_df['Category'] = amazon_sale_report_df['Category'].str.lower().str.strip()
amazon_sale_report_df['Status'] = amazon_sale_report_df['Status'].str.lower().str.strip()
amazon_sale_report_df['Fulfilment'] = amazon_sale_report_df['Fulfilment'].str.lower().str.strip()
amazon_sale_report_df['Style'] = amazon_sale_report_df['Style'].str.lower().str.strip()
amazon_sale_report_df['SKU'] = amazon_sale_report_df['SKU'].str.lower().str.strip()
amazon_sale_report_df['Courier Status'] = amazon_sale_report_df['Courier Status'].str.lower().str.strip()
amazon_sale_report_df['currency'] = amazon_sale_report_df['currency'].str.lower().str.strip()

# Convert 'Date' column to datetime format
amazon_sale_report_df['Date'] = pd.to_datetime(amazon_sale_report_df['Date'], format='%m-%d-%y')

# Create new columns
amazon_sale_report_df['Month'] = amazon_sale_report_df['Date'].dt.month
amazon_sale_report_df['Weekday'] = amazon_sale_report_df['Date'].dt.weekday

In [18]:
amazon_sale_report_df.drop(columns=['Unnamed: 22'], inplace=True)

In [19]:
amazon_sale_report_df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Month,Weekday
0,0,405-8078784-5731545,2022-04-30,cancelled,merchant,Amazon.in,Standard,set389,set389-kr-np-s,set,...,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,none,False,Easy Ship,4,5
1,1,171-9198151-1101146,2022-04-30,shipped - delivered to buyer,merchant,Amazon.in,Standard,jne3781,jne3781-kr-xxxl,kurta,...,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,4,5
2,2,404-0687676-7273146,2022-04-30,shipped,amazon,Amazon.in,Expedited,jne3371,jne3371-kr-xl,kurta,...,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,unknown,4,5
3,3,403-9615377-8133951,2022-04-30,cancelled,merchant,Amazon.in,Standard,j0341,j0341-dr-l,western dress,...,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,none,False,Easy Ship,4,5
4,4,407-1069790-7240320,2022-04-30,shipped,amazon,Amazon.in,Expedited,jne3671,jne3671-tu-xxxl,top,...,574.00,CHENNAI,TAMIL NADU,600073.0,IN,none,False,unknown,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,2022-05-31,shipped,amazon,Amazon.in,Expedited,jne3697,jne3697-kr-xl,kurta,...,517.00,HYDERABAD,TELANGANA,500013.0,IN,none,False,unknown,5,1
128971,128971,402-9551604-7544318,2022-05-31,shipped,amazon,Amazon.in,Expedited,set401,set401-kr-np-m,set,...,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,unknown,5,1
128972,128972,407-9547469-3152358,2022-05-31,shipped,amazon,Amazon.in,Expedited,j0157,j0157-dr-xxl,western dress,...,690.00,HYDERABAD,TELANGANA,500049.0,IN,none,False,unknown,5,1
128973,128973,402-6184140-0545956,2022-05-31,shipped,amazon,Amazon.in,Expedited,j0012,j0012-skd-xs,set,...,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,unknown,5,1
128974,128974,408-7436540-8728312,2022-05-31,shipped,amazon,Amazon.in,Expedited,j0003,j0003-set-s,set,...,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,unknown,5,1

In [20]:
print(cloud_warehouse_comparison_chart_df.isnull().sum())

index          0
Shiprocket    29
Unnamed: 1     9
INCREFF       22
dtype: int64

In [23]:

# Convert columns to numeric, forcing non-numeric values to NaN
cloud_warehouse_comparison_chart_df['Shiprocket'] = pd.to_numeric(cloud_warehouse_comparison_chart_df['Shiprocket'], errors='coerce')
cloud_warehouse_comparison_chart_df['INCREFF'] = pd.to_numeric(cloud_warehouse_comparison_chart_df['INCREFF'], errors='coerce')

# Handle missing values without using inplace=True
cloud_warehouse_comparison_chart_df['Shiprocket'] = cloud_warehouse_comparison_chart_df['Shiprocket'].fillna(cloud_warehouse_comparison_chart_df['Shiprocket'].mean())
cloud_warehouse_comparison_chart_df['INCREFF'] = cloud_warehouse_comparison_chart_df['INCREFF'].fillna(cloud_warehouse_comparison_chart_df['INCREFF'].mean())

# Remove duplicate rows
cloud_warehouse_comparison_chart_df.drop_duplicates(inplace=True)

# Drop the 'Unnamed: 1' column
if 'Unnamed: 1' in cloud_warehouse_comparison_chart_df.columns:
    cloud_warehouse_comparison_chart_df.drop(columns=['Unnamed: 1'], inplace=True)

In [25]:
cloud_warehouse_comparison_chart_df['Shiprocket'] = cloud_warehouse_comparison_chart_df['Shiprocket'].fillna(cloud_warehouse_comparison_chart_df['Shiprocket'].mean())

In [33]:
cloud_warehouse_comparison_chart_df.drop(columns=['Shiprocket'], inplace=True)

Cleaning of EXPENSE_IIGF.CSV

In [36]:
print(expense_iigf_df.isnull().sum())

index              0
Recived Amount    11
Unnamed: 1        11
Expance            2
Unnamed: 3         0
dtype: int64

In [38]:
# Handle missing values without using inplace=True
expense_iigf_df['Recived Amount'] = expense_iigf_df['Recived Amount'].fillna('unknown')
expense_iigf_df['Unnamed: 1'] = expense_iigf_df['Unnamed: 1'].fillna(0)
expense_iigf_df['Expance'] = expense_iigf_df['Expance'].fillna('unknown')

In [39]:
# Drop the first row containing headers (if needed)
# expense_iigf_df.drop(0, inplace=True)

# Handle missing values without using inplace=True
expense_iigf_df['Recived Amount'] = expense_iigf_df['Recived Amount'].fillna('unknown')
expense_iigf_df['Unnamed: 1'] = expense_iigf_df['Unnamed: 1'].fillna(0)
expense_iigf_df['Expance'] = expense_iigf_df['Expance'].fillna('unknown')

# Rename columns
expense_iigf_df.rename(columns={
    'Recived Amount': 'Received_Amount',
    'Unnamed: 1': 'Received_Amount_Value',
    'Expance': 'Expense',
    'Unnamed: 3': 'Expense_Value'
}, inplace=True)

# Remove duplicate rows
expense_iigf_df.drop_duplicates(inplace=True)

In [40]:
print(expense_iigf_df.isnull().sum())

index                    0
Received_Amount          0
Received_Amount_Value    0
Expense                  0
Expense_Value            0
dtype: int64

Data cleaning for the international_sale_report.csv